# shellcheck disable=SC2034
# ==================================================================
# SYSTEM PATHS
# ==================================================================
export SK_LIB="/usr/local/lib/sk"
export SK_BIN="/usr/local/bin/sk"
export ETC="/usr/local/etc"
export SK_OPT="/opt/sk"
export SK_LOG="/var/log/sk"
# ==================================================================
# REPO PATHS
# ==================================================================
